data/
pretrained/
uv.lock
__pycache__
__pycache__/*
**/__pycache__/
**/__pycache__/*
__pycache__*/
*.pyc
.venv
.python-version
latent_batches/
pyproject.toml
taming-transformers/*
taming-transformers
model_storage/
output/
.gitmodules/
sd21_vae_local/
.venv/
wandb/
__pycache__*
*__pycache__
.log
outputs/
taming/
sd_model
vae-finetuning
ldm/**/__pycache__/
checkpoints/
weights/
.claude/
**.pyc
ldm/__pycache__/util.cpython-310.pyc
ldm/__pycache__
lightning_logs/evaluation_outputs/
lightning_logs/
evaluation_outputs/
*.ipynb