data/
pretrained/
uv.lock
__pycache__
__pycache__/*
**/__pycache__/
**/__pycache__/*
__pycache__*/
*.pyc
.venv
.python-version
latent_batches/
pyproject.toml
taming-transformers/*
taming-transformers
model_storage/
output/
.gitmodules/
sd21_vae_local/
.venv/
wandb/
__pycache__*
*__pycache__
config/
.log
outputs/
taming/
sd_model
vae-finetuning
ldm/**/__pycache__/
checkpoints/